@font-face{
  font-family: "iransans";
  src: url("./assets/fonts/IRANSansWeb\(FaNum\).eot") format("eot"),
  url("./assets/fonts/IRANSansWeb\(FaNum\).ttf") format("ttf"),
  url("./assets/fonts/IRANSansWeb\(FaNum\).woff") format("woff")

}

body {
  margin: 0;
  font-family:iransans !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  direction: rtl
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
